Shopify Customer Support Agent/Shopify Customer Support Reamaze.json
{
  "name": "Shopify Customer Support Reamaze",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Q7F1m9h551MVzbRkZC-axTvUDdq2oJ1jtmxE3Xjh0pM",
          "mode": "list",
          "cachedResultName": "ElectroHub Electronics Store",
          "cachedResultUrl": "https://docs.google.com/document/d/1Q7F1m9h551MVzbRkZC-axTvUDdq2oJ1jtmxE3Xjh0pM/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        -112
      ],
      "id": "bd6075cd-b8b2-4a5a-b273-f5e88f711361",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1VQzksroqu56NEd6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        0,
        -112
      ],
      "id": "d4ace8c5-f6db-499f-ab03-d8924dfe5db3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qubWvNAi7ooC1cFQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        96,
        112
      ],
      "id": "ceb91023-d4a0-42c6-a5c1-a30950294516",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        96,
        320
      ],
      "id": "83f0b6bc-7972-4fb8-b5f0-d467931e0cb6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "url": "https://mvbtsk-jx.myshopify.com/admin/api/2026-01/products.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "fields",
              "value": "id,handle"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -96
      ],
      "id": "abc0449f-1274-4c8d-aef2-d8e8878479b5",
      "name": "HTTP Request",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "Ea9X5W3wuumC1qDL",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allProducts = items[0].json.products;\n\nreturn allProducts.map(product=> {\n  return {\n    json: {\n      \"ID\":product.id,\n      \"Handle\":product.handle\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -96
      ],
      "id": "b73e7a72-5c50-4c74-86e0-106ccaedec8a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1IJvAE8qsCKrph2RklsFcHBpgeDfp7rRrYsvM2kNmF0A"
        },
        "sheetName": {
          "__rl": true,
          "value": 279797210,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IJvAE8qsCKrph2RklsFcHBpgeDfp7rRrYsvM2kNmF0A/edit#gid=279797210"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Handle": "={{ $json.Handle }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Handle",
              "displayName": "Handle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        -96
      ],
      "id": "9176ce28-1391-46a6-8726-366f64700598",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g9okNjJltoVCqIim",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        112
      ],
      "id": "06315c13-b735-4126-9e7e-9420819b7d84",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "G3ojtP05E441CQfz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Vector Store Storage",
        "height": 704,
        "width": 784,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -224
      ],
      "typeVersion": 1,
      "id": "4bcc626f-9584-40f4-9820-dfb19701f8f5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Creating Product Info CSV (Mapping ID to Handle)",
        "height": 384,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -224
      ],
      "typeVersion": 1,
      "id": "d31ec4f8-0eaa-49e7-b541-d486e182b581",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -1024
      ],
      "id": "6d0bb4b4-51ba-4f06-8e65-f0c76c9f33d8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "product",
        "operation": "get",
        "productId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product_ID', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        1344,
        -624
      ],
      "id": "c0cf81b8-8886-4e26-aa23-89928621b3f7",
      "name": "Get a product in Shopify1",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "Ea9X5W3wuumC1qDL",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OHBcFAkTHH3tpYWJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/OHBcFAkTHH3tpYWJ",
          "cachedResultName": "[Sub-Workflow] Get Customer Shopify Order Data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1520,
        -752
      ],
      "id": "c5fa886b-de51-4826-a3bc-0473d46fbef7",
      "name": "Call '[Sub-Workflow] Get Customer Shopify Order Data'1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Store customer service question and answer database for answering customer inquiries",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1600,
        -624
      ],
      "id": "c605ebb2-2a3f-451d-b67e-53c959d4084f",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "qubWvNAi7ooC1cFQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        -816
      ],
      "id": "b00c10d1-7db4-43a2-acbe-5bacac46aac1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "G3ojtP05E441CQfz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1600,
        -464
      ],
      "id": "faa2b4fa-be6f-4b79-b8d9-e1692120ffd3",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "G3ojtP05E441CQfz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"customer inquiry\": \"true\",\n\t\"message\": \"Yes, we have headphones available in the color gray.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1696,
        -848
      ],
      "id": "cc5c900c-6209-46fc-ae9e-f421e1b3ca63",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "content": "## Shopify Customer Support Workflow",
        "height": 864,
        "width": 2832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -1120
      ],
      "typeVersion": 1,
      "id": "7d797ba2-e5e4-4370-b116-fe7a923cb804",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Shopify Customer Support Automation – Quick Guide\n\n\nThis workflow automatically fetches customer emails from Reamaze, classifies them, generates AI replies using store data, and sends responses back to customers.\n\n---\n### Helpful Links\nhttps://www.youtube.com/watch?v=5VKah2qUes0&t=1755s\nhttps://www.youtube.com/watch?v=xzUb6ER5FkY&t=481s\n\n\n### 1. What the Workflow Does\n\n1. Runs on a schedule (every few minutes).\n2. Pulls new customer conversations from Reamaze.\n3. Filters out system/tutorial emails.\n4. Converts email HTML into plain text.\n5. Uses AI to classify the email type:\n\n   * Product\n   * Order\n   * Delivery\n   * Refund\n   * Return\n   * Miscellaneous\n6. Applies the correct tag in Reamaze.\n7. Uses AI + store data to draft a response.\n8. Sends the reply automatically if it’s a real customer inquiry.\n\n---\n\n### 2. Required Accounts & Credentials\n\nYou must connect:\n\n* Reamaze API (Basic Auth with API token)\n* OpenAI API key\n* Shopify OAuth credentials\n* Supabase account (vector database)\n* Google Drive (for policy/product files)\n* Google Sheets (for product mapping)\n\n---\n\n### 3. One-Time Setup Steps\n\n#### A. Reamaze Setup\n\n1. Go to **Settings → Developers → API Tokens** in Reamaze.\n2. Create a token.\n3. In n8n, create **HTTP Basic Auth credential**:\n\n   * Username = your Reamaze email\n   * Password = API token\n\n---\n\n#### B. Product Mapping Setup\n\nThis workflow builds a sheet linking Shopify product IDs to handles.\n\n1. Export products from Shopify as CSV.\n2. Upload to Google Sheets.\n3. Create a second sheet for the workflow output.\n4. Run the workflow once.\n5. It fills the new sheet with:\n\n   * Product ID\n   * Product Handle\n\nThis is later used to generate product links in replies.\n\n---\n\n#### C. Vector Database Setup (Supabase)\n\nYou need to upload two data sources:\n\n1. Store policy document\n2. Product CSV (from previous step)\n\nSteps:\n\n1. Create Supabase project.\n2. Create a `documents` table (vector enabled).\n3. Run the workflow once per file to store embeddings.\n\nThis allows the AI to answer using your policies + product info.\n\n---\n\n### 4. How the AI Reply Works\n\nWhen a customer email arrives:\n\n1. AI checks if it’s a real inquiry.\n2. It searches your Supabase database for:\n\n   * Policies\n   * Product details\n3. If needed, it:\n\n   * Fetches Shopify product info\n   * Fetches customer order data (sub-workflow)\n4. AI drafts a Markdown reply.\n5. Workflow posts the reply back to Reamaze.\n\n---\n\n### 5. When to Run Each Part\n\n* Vector storage → run manually when updating documents\n* Product mapping → run when products change\n* Main workflow → keep ACTIVE for automation\n\n\n",
        "height": 2560,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        -1120
      ],
      "typeVersion": 1,
      "id": "bcf5a95d-328b-4ddb-adb3-468970166391",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "https://some-store.reamaze.io/api/v1/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        -1024
      ],
      "id": "05f9e3e3-a670-4f84-9ae2-049b215a23c7",
      "name": "Get Conversations",
      "credentials": {
        "httpBasicAuth": {
          "id": "ar9ABBFjMEcpJFbZ",
          "name": "Re:amaze Credentials 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const conversations = $input.first().json.conversations;\n\nreturn conversations\n  .filter(conv => {\n    // Must have a customer message\n    if (!conv.last_customer_message) return false;\n\n    // Ignore tutorials\n    if (conv.tag_list.includes(\"Reamaze Tutorial\")) return false;\n\n    // Ignore system emails\n    const email = conv.author.email || \"\";\n    if (\n      email.includes(\"reamaze.com\") ||\n      email.includes(\"shopify.com\") ||\n      email.includes(\"google.com\")\n    ) return false;\n\n    // Only include if the author is a customer\n    if (!conv.author[\"customer?\"] && conv.author[\"staff?\"]) return false;\n\n    return true;\n  })\n  .map(conv => ({\n    json: {\n      conversationId: conv.slug||conv.id, // use numeric/UUID id, NOT slug\n      subject: conv.subject,\n      customerEmail: conv.author.email,\n      message: conv.last_customer_message.body\n    }\n  }));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -1024
      ],
      "id": "e3ec5a4c-f7f7-4e0b-a948-a28caf627a9a",
      "name": "Fetch Customer Inquiries"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  let message = item.json.message || \"\";\n\n  message = message.replace(/<style[\\s\\S]*?<\\/style>/gi, \"\");\n  message = message.replace(/<script[\\s\\S]*?<\\/script>/gi, \"\");\n  message = message.replace(/<!--[\\s\\S]*?-->/g, \"\");\n\n  let plainText = message.replace(/<\\/?[^>]+(>|$)/g, \"\");\n\n  plainText = plainText.replace(/\\s+/g, \" \").trim();\n\n  return { \n    json: { \n      conversationId: item.json.conversationId,\n      subject: item.json.subject,\n      email: item.json.customerEmail,\n      plainText\n    } \n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -1024
      ],
      "id": "bffb878f-2945-4507-8b76-97cafe0aef87",
      "name": "Get Plain Text Email Body"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a customer support email classifier.\n\nYou will receive the plain text content of an email.\n\nClassify the email into ONE of the following six categories and return ONLY the corresponding Reamaze tag in JSON format.\n\nCategories and their Reamaze tags:\n\n- Product \n- Order\n- Delivery \n- Refund\n- Return \n- Miscellaneous \n\nCategory Descriptions:\n\nProduct:\nEmails asking about product details such as features, specifications, availability, sizing, compatibility, variations, colors, materials, or pricing.\n\nOrder:\nEmails about placing an order, modifying an order, canceling an order, confirming an order, or general order-related questions.\n\nDelivery:\nEmails asking about shipping status, tracking numbers, delivery times, shipping delays, or issues with receiving a package.\n\nRefund:\nEmails requesting a refund, asking about refund eligibility, or checking the status of a refund.\n\nReturn:\nEmails requesting to return a product or asking about the return process and return instructions.\n\nMiscellaneous:\nEmails that do not clearly fit into any of the above categories.\n\nSTRICT OUTPUT RULES:\n\n- Return valid JSON ONLY.\n- Do NOT include the category name, extra text, explanations, or punctuation outside of JSON.\n- Output must follow this exact structure:\n\n{\"category\":\"Tag_Here\"}\n\n- Replace \"Tag_Here\" with the correct Reamaze tag corresponding to the email category.\n- Example outputs:\n\n{\"category\":\"Product\"}\n{\"category\":\"Order\"}\n{\"category\":\"Delivery\"}\n{\"category\":\"Refund\"}\n{\"category\":\"Return\"}\n{\"category\":\"Miscellaneous\"}\n"
            },
            {
              "content": "=<plainText>\n{{ $json.plainText }}\n</plainText> "
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        592,
        -1024
      ],
      "id": "7850c1a2-317b-4bac-b594-4bcfca841ea3",
      "name": "Email Classifier",
      "credentials": {
        "openAiApi": {
          "id": "G3ojtP05E441CQfz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return { json: JSON.parse($input.first().json.output[0].content[0].text)};\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -1024
      ],
      "id": "aa352d64-caeb-4bf8-9648-0670c8b20ee9",
      "name": "Extract Email Category"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://some-store.reamaze.io/api/v1/conversations/{{ $('Get Plain Text Email Body').item.json.conversationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation\": {\n    \"tag_list\": [\"{{ $json[\"category\"] }}\"]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        -1024
      ],
      "id": "ee94fd15-99f5-4cf7-a94d-0cef1f1d568f",
      "name": "Put Label",
      "credentials": {
        "httpBasicAuth": {
          "id": "ar9ABBFjMEcpJFbZ",
          "name": "Re:amaze Credentials 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Put Label\"].json}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant. Today is {{ $now }}\n\nYou will recieve an email from the customer support eamil for the ecommerce store My Store, which sells electronic items. You will take the role of a friendly customer support agent to answer customer inquiries.\n\nWith the relevant context from the customer email and orders, you can use the \"Supabase Vector Store\" tool to retrieve templated responses to help construct the response to the customer.\n\nIf the email is unrelated to customer inquiries (ex: an update email) then you may ignore that email.\n\n\nIMPORTANT:\nThe AI Agent output will have two parameters, as follows:\na) customer inquiry: This is a boolean value (TRUE or FALSE) that specifies whether the email is a customer inquiry. If it's a customer, then set its value to TRUE. If it is not a cutomer (ex: a marketing email or status update), then set its value to FALSE.\nb) message: this will be the actual response that will be drafted back to the customer. Draft the same response in Markdown to be used in a HTTP Request node as a markdown message.\n\nTools:\n\n1. \"Supabase Vector Store\": this tool contains the database of the store policies and product details to be used as context for generating the response to the customer.\n\nThe store policies contain information such as company information, communication style, product categories, ordering and payment, shipping, returns and exchanges, refunds, and customer support escalation.\n\nThe product details contain product IDs, product handles, product titles, product descriptions, and some basic metadata.\n\nYou can use this tool for each customer inquiry to help construct a proper response with relevant information.\n\nDo not respond to any customer without consulting the store policies in this tool.\n\n2. \"get_order_data\": this tool can be used to retrieve the customer's Shopify order data if they are inquiring about an order. This tool is a sub-workflow, with input requirements of the customer's email and the Shopify order name (if available). If no order email is specified, you may use the sending email.\n\n3. \"Get Shopify Product Information\": this tool can be used to retrieve the Shopify product information, such as variants offered and inventory available. The product ID can be determined by cross-referencing the product title or handle in the product details found in the \"Supabase Vector Store\" tool.\n\nAdditional Notes:\n\n1. If a product is being suggested, you may also include the product url. The product url can take the format of \"https://my-store-2.myshopify.com/products/<PRODUCT-HANDLE>\". The product handle will always come directly from the \"Supabase Vector Store\" tool product data handle column.\n\n2. If referencing a specific variant, the variant ID can be found from the \"Supabase Vector Store\" tool product data ID column corresponding to the product handle. The product and variant combo url can take the format of \"https://my-store-2.myshopify.com/products/<PRODUCT_HANDLE>?variant=<VARIANT-ID>\". To get the variant ID, you can get it from the \"Get Shopify Product Information\" tool using the corresponding product ID for the product handle.\n\n3. If required, you may also use the \"get_order_data\" tool to gain context on the customer's order to properly respond to their inquiry."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1424,
        -1024
      ],
      "id": "1e0723e5-acaa-4d22-9de9-42f008e3034d",
      "name": "Draft Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cad6319c-bc81-4c65-a1a4-e1bd5efe754c",
              "leftValue": "={{ $json.output[\"customer inquiry\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        -1024
      ],
      "id": "13f65011-41ac-417c-99b8-9cbf7c1af9e2",
      "name": "Check If: Customer Inquiry"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://some-store.reamaze.io/api/v1/conversations/{{ $('Put Label').item.json.slug }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2240,
        -1040
      ],
      "id": "abdbaa36-e61a-47a0-9da3-ab67921245d5",
      "name": "Send Response",
      "credentials": {
        "httpBasicAuth": {
          "id": "ar9ABBFjMEcpJFbZ",
          "name": "Re:amaze Credentials 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Applying Label",
        "height": 272,
        "width": 832,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -1088
      ],
      "typeVersion": 1,
      "id": "9b14a1dd-ce0a-408f-8d89-a625f6b11508",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let message = item.json.output.message || \"\";\n  \n  // Build the entire JSON body as a string with proper escaping\n  const jsonBody = {\n    message: {\n      body: message,\n      body_format: \"markdown\",\n      visibility: 0,\n      origin_id: $('Put Label').first().json.message.origin_id|| \"\"\n    }\n  };\n  \n  return {\n    json: {\n      ...item.json,\n      // Return as properly escaped JSON string\n      requestBody: JSON.stringify(jsonBody)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -1040
      ],
      "id": "7285fa2f-aeb5-4a93-b9d2-94d1ecdb36c7",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a product in Shopify1": {
      "ai_tool": [
        [
          {
            "node": "Draft Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '[Sub-Workflow] Get Customer Shopify Order Data'1": {
      "ai_tool": [
        [
          {
            "node": "Draft Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "Draft Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Draft Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Draft Email",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversations": {
      "main": [
        [
          {
            "node": "Fetch Customer Inquiries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Customer Inquiries": {
      "main": [
        [
          {
            "node": "Get Plain Text Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Plain Text Email Body": {
      "main": [
        [
          {
            "node": "Email Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Classifier": {
      "main": [
        [
          {
            "node": "Extract Email Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Category": {
      "main": [
        [
          {
            "node": "Put Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put Label": {
      "main": [
        [
          {
            "node": "Draft Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Email": {
      "main": [
        [
          {
            "node": "Check If: Customer Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If: Customer Inquiry": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5df8b547-e1d9-4c73-af81-366235f182e7",
  "meta": {
    "instanceId": "98f0e1460d79cb8c3fc0d495c229aebc77446f0efb36cdd28bc583591a2e502a"
  },
  "id": "4ti2tOPXiRQz4Qfa",
  "tags": []
}